/*body {
  margin-bottom: 5%;
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif !important;
}
footer {
  background-color: #0C141E;
}
.navbar {
  background-color: #1A2D44;
}
.navbar li a {
  color: white !important;
}
.navbar li a:hover {
  color: danger !important;
}*/

.content {
  margin-top: 3%;
  margin-bottom: 7%;
}
select {
  width: 100%;
}
.table > thead {
  vertical-align: top!important;
}